.bottomFooterMain{
    width: 100%;
    height: 450px;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/background4.png');
    background-position: center top;
    align-items: center;
    flex-direction: row;
    display: flex;
    margin: 40px auto;
    padding: 50px 150px;
    background-size: cover;
}
.imageSpan{
    font-size: 60px;
    color: rgb(245, 199, 131);
    font-family: 'Radiance', 'Noto sans', 'sans-serif';
    box-sizing: border-box;
}
.bottomSecondFooter{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.firstimage{
    max-height: 50px;
    margin: 0 15 20 15;
    width: 150px;
}
.secondimage{
    width: 150px;
    max-height: 50px;
    margin: 0 15 20 15;
}
@media all and (max-width: 1000px){
    .bottomFooterMain{
        width: 100vw;
        height: 45vh;
    }
}
@media all and (max-width: 700px){
    .bottomSecondFooter{
        justify-content: center;
        width: 70vw;
    }
    p{
        width: 70vw;
    }
    .mainText{
        width: 70vw;
        font-size: 15px;
    }
}
@media all and (max-width: 500px){
    .imageSpan{
        font-size: 20px;
    }
    .bottomFooterMain{
        height: 20vh;
    }
}